<div class="clients-page">
  <div class="clients-container">
    <!-- En-tête -->
    <header class="clients-header">
      <h1 class="clients-title">Nos services</h1>
      <p class="clients-subtitle">Découvrez nos services de généalogie qui correspondent à vos besoins</p>
    </header>

    <!-- Section principale -->
    <section class="clients-content">
      <!-- Services de généalogie successorale -->
      <div class="client-category" id="recherches">
        <div class="category-header">
          <h2 class="successorale-bg" id="successorale">Généalogie successorale et juridique</h2>
        </div>
        <div class="category-content">
          <ul class="client-list">
            <li>La généalogie successorale</li>
            <li>La recherche d'héritiers et réservataires et Généalogie</li>
            <li>La vérification de dévolution</li>
            <li>La recherche de bénéficiaires d'assurance vie ou compte bancaire</li>
          </ul>
        </div>
      </div>

      <!-- Services de recherche de personnes -->
      <div class="client-category" id="investigations">
        <div class="category-header">
          <h2 class="particuliers-bg">Recherche de personnes</h2>
        </div>
        <div class="category-content">
          <ul class="client-list">
            <li>La recherche liée aux origines personnelles</li>
            <li>La recherche de personnes disparues</li>
            <li>Recherche de personnes nés sous X</li>
            <li>La recherche d'adresses et domiciliations d'individus</li>
            <li>L'identification et la localisation de personnes à partir de données informatiques, électroniques ou de
              reconnaissances faciales (Intelligence Artificielle-I.A)</li>
          </ul>
        </div>
      </div>

      <!-- Services immobiliers et fonciers -->
      <div class="client-category" id="immobilier">
        <div class="category-header">
          <h2 class="immobiliers-bg">Services immobiliers et fonciers</h2>
        </div>
        <div class="category-content">
          <ul class="client-list">
            <li>La recherche foncière</li>
            <li>La recherche de biens vacants et sans maître</li>
            <li>L'acquisition de biens fonciers, immobiliers et la location immobilière</li>
          </ul>
        </div>
      </div>

      <!-- Services de conseil et assistance -->
      <div class="client-category" id="expertise">
        <div class="category-header">
          <h2 class="conseil-bg">Conseil et assistance</h2>
        </div>
        <div class="category-content">
          <ul class="client-list">
            <li>Activité d'assistance et de conseils</li>
            <li>Consultant en diverses recherches</li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</div>
